h1 {
  color: #336699;
}

h2 {
  color: #009900;
}
ol, ul {
  margin: 20px;
}
img {
  width: 90%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}
table{
  border-collapse: collapse;
  width: 90%;
}
th, td {
  border: 1px solid  #999;
  padding: 8px;
  text-align: left;
}
